.search-results {
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 200px);
    border: var(--primary-border);
    border-radius: 8px;
    padding: 16px;
    overflow-y: auto;
    background-color: var(--primary-background);

    &.centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}